.chooses {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.choose {
    margin-top: 45px;
    display: flex;
    width: 45%;
    align-items: flex-start;
}

.border {
    width: 84%;
    height: 120%;
    border: 4px solid gray;
}

.picWithBorder {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 10;
}


.text h4{
    font-size: 18px;
    font-weight: bolder;
}

.text {
    font-size: 15px;
    margin-left: 15px;
}