.wrapperChooseUs {
    margin-top: 5em;
    margin-bottom: 7.5em;
}
 
.chooses {
    display: flex;
    flex-wrap: wrap;
}

.choose {
    margin-top: 2.8em;
    display: flex;
    width: 50%;
    align-items: flex-start;
}

.border {
    border: 4px solid gray;
    float: left;
    margin-right: 2.5em;
}

.border img {
    position: relative;
    top: 1.2em;
    left: 1.2em;
}


.text h4{
    font-size: 1.1em;
    font-weight: bolder;
}

.text {
    font-size: 1em;
    margin-left: 1em;
}