.footer header {
    font-size: 18px;
    font-weight: bolder;
    color: #cccccc;
    margin-bottom: 36px;
}

.Contact {
    margin-top: 21px;
    display: flex;
    flex-wrap: wrap;
    
}

.contactInfo {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numberTel {
    font-size: 18px;
    color: #cccccc;
    font-weight: bolder;
}


.textContact{
    font-size: 15px;
    color: #999999;
}

.listFooter ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
    color: #999999;
}

.listFooter li {
    margin-top: 12px;
}

.listFooter i {
    color: #dd9f19;
    margin-right: 15px;
}

.tiket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #272727 1px dashed;
    height: 220px;

}

.tiket span {
    font-size: 22px;
    color: #cccccc;
    font-weight: bolder;
}

.tiket b {
    font-size: 55px;
    font-weight: bold;
    color: #ffb619;
}

.tiket h4 {
    font-size: 18px;
    font-weight: bolder;
    color:#cccccc;
}

.inviteCode {
    margin-top: 30px;
    font-size: 15px;
    color: #999999;
}

.inviteCode b {
    font-size: 16px;
    font-weight: normal;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #666666;
}

.copyright b {
    color: #ffb700;
}
