.text-first-wrapper button{
    margin-top: 3.2em;
}

.text-first-wrapper span{
    font-size: 1.1em;
    font-weight: normal;
}

.text-first-wrapper h1{
    margin-bottom: 1.2em;
}

.buttonFirstWrapper {
    height: 3em;
    width: 11em;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    margin-right: 0.6em;
    background-color:#ffb619;
    border: 0;
}

.Get {
    background: transparent;
    border: 2px solid white;
}

.firstWrapperFooter {
    background-image: url('./pic/footerFirstWrapper.png');
    padding-top: 55px;
    padding-bottom: 55px;
}

.textFooterFirstWrapper {
    font-size: 1.6em;
    font-weight: bolder;
}

.buttonFooterFirstWrapper {
    background-color:#ffb619;
    color: white;
    display: flex;
    height: 3em;
    width: 12em;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border: none;
}

.textFirstWrapper {
    font-size: 1.7em;
    font-weight: bolder;
    color: #333333;
}

.buttonFooterFirstWrapper i{
    margin-right: 0.5em;
}
