.top-footer {
    background-color: #1a1a1a;
    padding-top: 3.75em;
    padding-bottom: 5em;
}

.bottom-footer {
    height: 3.75em;
    background-color: #0d0d0d;
}

.footer header {
    font-size: 1.1em;
    font-weight: bolder;
    color: #cccccc;
    margin-bottom: 2.25em;
}

.Contact {
    margin-top: 1.3em;
    display: flex;
    
}

.contactInfo {
    margin-left: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numberTel {
    font-size: 1.1em;
    color: #cccccc;
    font-weight: bolder;
}


.textContact{
    font-size: 0.9em;
    color: #999999;
}

.listFooter ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    color: #999999;
}

.listFooter li {
    margin-top: 0.75em;
}

.listFooter i {
    color: #dd9f19;
    margin-right: 0.9em;
}

.tiket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #272727 1px dashed;
    height: 13.75em;

}

.tiket span {
    font-size: 1.6em;
    color: #cccccc;
    font-weight: bolder;
}

.tiket b {
    font-size: 2.8em;
    font-weight: bold;
    color: #ffb619;
}

.tiket h4 {
    font-size: 1.1em;
    font-weight: bolder;
    color:#cccccc;
}

.inviteCode {
    margin-top: 1.9em;
    font-size: 0.9em;
    color: #999999;
}

.inviteCode b {
    font-size: 1em;
    font-weight: normal;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: #666666;
}

.copyright b {
    color: #ffb700;
}


@media (max-width: 1400px) {
    .tiket span{
        font-size: 1.4em;
    }

    .tiket b {
        font-size: 2.4em;
    }

    .inviteCode b {
        font-size: 1em;
        font-weight: normal;
    }
}

@media (max-width: 1050px) {
    .listFooter i {
        margin-right: 0.6em;
    }
    .listFooter ul {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    .footer {
        font-size: 120%;
    }
    .tiket {
        margin-top: 3em;
    }
}