.header span {
    display: flex;
    font-size: 1em;
    color: #666666;
}

.top-header {
    height: 3.125em;
    background-color: #f2f2f2;
}

.top-header-ref {
    display: flex;
}

.top-header-ref i {
    color: #666666;
    margin-left: 1.1em;
}

.brandName {
    display: inline-block;
    padding-left: 5px;

}


.logoAndBrand {
    width: 40%;
}

.header h2 {
    font-weight: bold;
    font-size: 1.7em;
}

.header h6 {
    font-weight: 600;
    text-align: center;
    font-size: 0.8em;
}

.menu {
    width: 50em;
    list-style-type: none;
    text-align: right;
}

.menu li {
    display: inline;
    color: #757575;
    margin-left: 2%;
    position: relative;
}

.menu a {
    color: #757575;
}

.menu li:hover .submenu {
    visibility: visible;
}

.submenu {
    width: 20em;
    padding: 0;
    position: absolute;
    padding-top: 2.3em;
    left: 0px;
    visibility: hidden;
    background-color: white;
    text-align: left;
    z-index: 10;
}

.submenu li {
    line-height: 4;
    padding: 1.2em;
    border-bottom: 1px solid #f6f6f6;
}

.submenu li a{
    cursor: pointer;
    position: static;
    width: 100%;
    font-size: 0.8em;
}

.submenu li a:hover{
    cursor: pointer;
    color: #013e99;
    text-decoration: none;
}
