html {
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.headerWrapper h2 {
    font-size: 2em;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}

.headerWrapper hr {
    width: 3.7em; 
    height: 3px; 
    background-color: white;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 1650px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
}
