body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #666666;
}

.top-header-ref {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header-ref i {
    color: #666666;
    margin-left: 18px;
}

.header h2 {
    font-weight: bold;
    font-size: 27px;
}

.header h6 {
    font-weight: 600;
    text-align: center;
    font-size: 12px;
}

.brandName {
    display: inline-block;
}

.menu-item {
    margin-left: 2.5%;
    display: inline;
    color: #757575;
}

.logoAndBrand {
    width: 40%;
}

.menu {
    width: 60%;
}

.headerWrapper h2 {
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}

.headerWrapper hr {
    width: 60px; 
    height: 3px; 
    background-color: white;
}