.wrapperOurService {
    color: white;
    background-image: url('./pic/serviceBackground.jpg');
    padding-bottom: 6.25em;
    padding-top: 5em;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.75em;
    margin-top: 3.75em;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 16.8em;
    height: 16.8em;
    text-align: center;
    margin: 1em;
    border: 4px solid #013e99;
}

.service h4 {
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

.service span {
    font-size: 1em;
    font-weight: normal;
}


.service:hover {
    background-color: #013e99;
}