.wrapperOurService {
    color: white;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 60px;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    height: 270px;
    text-align: center;
    margin: 15px;
    border: 4px solid #013e99;
}

.service h4 {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 15px;
}

.service span {
    font-size: 15px;
    font-weight: normal;
}


.service:hover {
    background-color: #013e99;
}