.wrapperProblem {
    background-image: url('./pic/ProblemWrapperFon.jpg');
    padding-top: 11em;
    padding-bottom: 13.8em;
}

.wrapperProblem h2 {
    color: #f2f2f2;
    font-size: 2.25em;
    width: 15em;
    margin-bottom: 1em;
}

.buttonPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375em;
}

.buttonPhone i {
    margin-right: 0.3em;
}