.wrapperLocation {
    background-image: url('./pic/footerFirstWrapper.png');
    padding-top: 5em;
    padding-bottom: 6.25em;
}
.map {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: #e5e5e5;
    border: white 4px solid;
}


.formLocation {
    display: flex;
    flex-wrap: wrap;
    
}

.inputFormLocation {
    width: 45%;
    margin: 2.5%;
    border: none;
    font-size: 1em;
    height: 3.1em;
    padding-left: 1.25em;
    padding-right: 1.25em;
}
.formLocation .big{
    text-align: left;
    width: 100%;
    height: 9.375em;
    resize: none;

}

@media (max-width: 768px) {
    .map {
        height: 20em;
        width: 90vw;
    }
    .columnMap {
        margin-bottom: 5em;
    }

} 